@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&display=swap');

body {
    background-color: rgb(36, 35, 35);
}

.mainlogo {
    background-color: rgb(26, 25, 25);
    color: rgb(26, 25, 25);
    height: 100px;
    width: 100px;
    margin: 20px;
    margin-top: -5px;
}

.main {
    height: 100px;
    position: relative;
    color: white;
    padding: 5px;
    background-color: rgb(26, 25, 25);
    float: middle;
}

.icon-list {
    background-color: rgb(26, 25, 25);
    padding: 10px;
    float: left;
    height: 1200px;
    position: absolute;
}

#searchinput {
    display: flex;
    align-items: center;
    width: 500px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    height: 20px;
    float: middle;
    position: relative;
    top: -80px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
    gap: 20px; /* Espaço entre as caixas */
    max-width: 800px;
    margin: 0 auto;
}

.videoframe {
    color: white;
    width: 250px;
    background-color: rgb(26, 25, 25);  
   /* border: 1px solid black; */
    padding: 10px 20px; 
    margin: 20px auto;
    /* float: middle;
    /* align-items: center; */
    display: grid;
    border-radius: 20px;
}

.titulo {
    color: rgb(252, 252, 252);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
    font-family: "Merriweather", serif;
}

.titulo h2{
    margin-bottom: 4px;
    font-size: 20px;
}

.descricao {
    margin-top: 0px;
    
    font-family: "Oswald", sans-serif;
}

.thumbnail {
    height: 156px;
    width: 200px; 
   /* border: 1px solid black; */
    padding: 10px 20px; 
    margin: 20px auto;
    float: middle;
    /* align-items: center; */
    display: grid;
    border-radius: 20px;
    margin-bottom: 4px;
    margin-top: 0px;
}

.buttonplay {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.play{
  position: absolute;
  top: -200px; /* abaixo do texto */
  left: 20px;
  display: block;
  width: 200px;
  scale: 0.5;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.linkplay {
  background-color: transparent;
  position: absolute;
  display: flex;
  top: -170px;
  left: 21px;
  padding: 100px;
  z-index: 1;
  border: none;
  cursor: pointer;
}

.buttonplay:hover .play {
  opacity: 1;
}

.searchicon img{
    height: 40px; 
    width: 40px; 
    margin: 2px;
    padding: 5px; 
    border-radius: 20px;
    margin-top: 40px;
}

.homeicon img {
    height: 40px; 
    width: 40px; 
    padding: 5px; 
    border-radius: 20px;
    margin-top: 40px;
}

.clockicon img {
    height: 40px; 
    width: 40px; 
    padding: 5px; 
    border-radius: 20px;
    margin-top: 40px;
}

.likeicon img {
    height: 40px; 
    width: 40px; 
    padding: 5px; 
    border-radius: 20px;
    margin-top: 40px;
}

.playlisticon img {
    height: 40px; 
    width: 40px; 
    padding: 5px; 
    border-radius: 20px;
    margin-top: 40px;
}

.optionsicon img {
    height: 40px; 
    width: 40px; 
    padding: 5px; 
    border-radius: 20px;
    margin-top: 650px;
}

input::placeholder {
  color: gray;
  font-style: italic;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
}

.clickable-div {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}


@media (max-width: 768px) {
  .videoframe {
    width: 100%;
  }
}