<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Youtube</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet"> <!-- Fonte do titulo -->
</head>
<body>
   <div class="main">
        <div class="mainlogo">
            <img src="youtube.png" alt="icon" style="width: 100px; height: 100px; background-color: rgb(26, 25, 25);">
        </div>
            <label for="searchinput" class="visually-hidden">Search</label>
            <input id="searchinput" placeholder="Pesquisar..." aria-label="Search">
        <div class="userIcon">
            <img src="user_header.png" alt="User Icon">
        </div>
        </div>

        <div class="icon-list">
            <div class="homeicon"><img src="home.png" alt="Home"></div>
            <div class="searchicon"><img src="searchicon.png" alt="Search"></div>
            <div class="clockicon"><img src="clock.png" alt="Watch Later"></div>
            <div class="likeicon"><img src="like.png" alt="Liked"></div>
            <div class="playlisticon"><img src="playlist.png" alt="Playlist"></div>
            <div class="optionsicon"><img src="options.png" alt="Options"></div>
        </div>
        
    
    <div class="container">

        @for (video of videos; track $index) {
            <app-video 
            [titulo]="video.titulo" 
            [descricao]="video.descricao" 
            [thumbnail]="video.thumbnail">
            </app-video>
        }

    </div>
       
</body>
</html>
