<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../app/app.component.css">
    <script src="../YT-Home-Test-main/js/main.js"></script>
    <title>YouTube</title>
</head>
<body>
        <div class="main">
        <div class="mainlogo">
            <img src="youtube.png" alt="icon" style="width: 100px; height: 100px; background-color: rgb(26, 25, 25);">
        </div> 
            <label for="searchinput" class="visually-hidden">Search</label>
            <input id="searchinput" placeholder="Pesquisar..." aria-label="Search">
        </div>

        <div class="icon-list">
            <div class="homeicon"><img src="home.png" alt="Home"></div>
            <div class="searchicon"><img src="searchicon.png" alt="Search"></div>
            <div class="clockicon"><img src="clock.png" alt="Watch Later"></div>
            <div class="likeicon"><img src="like.png" alt="Liked"></div>
            <div class="playlisticon"><img src="playlist.png" alt="Playlist"></div>
            <div class="optionsicon"><img src="options.png" alt="Options"></div>
        </div>

        <div class="container">

        <div id="videoframe">
            <div class="thumbnail">
                <img id="Thumbnail" src="thumb1.jpg" alt="Thumbnail">
            </div>
            <h1>Vídeo 1</h1>
            <p>Descrição</p>
        </div>
         <div id="videoframe">
            <div class="thumbnail">
                <img id="Thumbnail" src="thumb2.jpg" alt="Thumbnail">
            </div>
            <h1>Vídeo 2</h1>
            <p>Descrição</p>
        </div>
         <div id="videoframe">
            <div class="thumbnail">
                <img id="Thumbnail" src="thumb3.jpg" alt="Thumbnail">
            </div>
            <h1>Vídeo 3</h1>
            <p>Descrição</p>
        </div>

        <div id="videoframe">
            <div class="thumbnail">
                <img id="Thumbnail" src="thumb4.jpg" alt="Thumbnail">
            </div>
            <h1>Vídeo 4</h1>
            <p>Descrição</p>
        </div>

        <div id="videoframe">
            <div class="thumbnail">
                <img id="Thumbnail" src="thumb5.jpg" alt="Thumbnail">
            </div>
            <h1>Vídeo 5</h1>
            <p>Descrição</p>
        </div>

        <div id="videoframe">
            <div class="thumbnail">
                <img id="Thumbnail" src="thumb6.jpg" alt="Thumbnail">
            </div>
            <h1>Vídeo 6</h1>
            <p>Descrição</p>
        </div>

        <div id="videoframe">
            <div class="thumbnail">
                <img id="Thumbnail" src="thumb7.jpg" alt="Thumbnail">
            </div>
            <h1>Vídeo 7</h1>
            <p>Descrição</p>
        </div>

        <div id="videoframe">
            <div class="thumbnail">
                <img id="Thumbnail" src="thumb8.jpg" alt="Thumbnail">
            </div>
            <h1>Vídeo 8</h1>
            <p>Descrição</p>
        </div>

        <div id="videoframe">
            <div class="thumbnail">
                <img id="Thumbnail" src="thumb9.jpg" alt="Thumbnail">
            </div>
            <h1>Vídeo 9</h1>
            <p>Descrição</p>
        </div>
        
        </div>
       
</body>
</html>
