<body>
        <div class="main">
        <div class="mainlogo">
            <img src="imgs/youtube.png" alt="icon" style="width: 100px; height: 100px; background-color: rgb(26, 25, 25);">
        </div> 
           <input id="searchinput" placeholder="Pesquisar...">
        </div>

        <div class="icon-list">
            <div class="homeicon"><img src="imgs/home.png"></div>
            <div class="searchicon"><img src="imgs/searchicon.png"></div>
            <div class="clockicon"><img src="imgs/clock.png"></div>
            <div class="likeicon"><img src="imgs/like.png"></div>
            <div class="playlisticon"><img src="imgs/playlist.png"></div>
            <div class="optionsicon"><img src="imgs/options.png "></div>
        </div>

        <div class="container">
        <div class="videoframe">
            <div class="videoplaceholder">
                <video controls>
                    <source src={{ video.video }} type="video/mp4">
                </video>
            </div>
            <h2 class="videotitle">Título</h2>
            <div class="LineBreak"></div>
            <div class="views">
                <p>Views: 200</p>
                <img src="imgs/Views.png" alt="Views" style="width: 30px; height: 30px;">
            </div>
            <h1 class="upperdescription">Descrição</h1>
            <p class="lowerdescription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid consequatur quo mollitia itaque explicabo dicta sint, dignissimos deleniti, at aliquam alias culpa reprehenderit dolorum? Quia eaque mollitia commodi accusantium ab.</p>

            <div class="VideoAvaliation">
            
            <div class="BorderBox">
                <div class="likevideo">
                    <img src="imgs/LikeVideo.png" alt="Like" style="width: 30px; height: 30px;">
                    <span>100</span>
                </div>
                <div class="dislikevideo">
                    <img src="imgs/DislikeVideo.png" alt="Dislike" style="width: 30px; height: 30px;">
                    <span>100</span>
                </div>
            
            </div>
            <div class="LineBreak2"></div>    
            </div>
        </div>
        
        </div>
       
</body>