<router-outlet></router-outlet>

<body>

        <div class="main">
        <div class="mainlogo">
            <img src="youtube.png" alt="icon" style="width: 100px; height: 100px; background-color: rgb(26, 25, 25);">
        </div> 
           <input id="searchinput" placeholder="Pesquisar...">
        </div>

        <div class="icon-list">
            <div class="homeicon"><img src="home.png"></div>
            <div class="searchicon"><img src="searchicon.png"></div>
            <div class="clockicon"><img src="clock.png"></div>
            <div class="likeicon"><img src="like.png"></div>
            <div class="playlisticon"><img src="playlist.png"></div>
            <div class="optionsicon"><img src="options.png "></div>
        </div>

        <div class="container">

        <div class="videoframe">

            <div class="videoplaceholder">
                <video controls>
                    <source [src]="selectedVideo.video" type="video/mp4">
                </video>
            </div>
            <h2 class="videotitle">{{ selectedVideo.titulo }}</h2>
            <div class="LineBreak"></div>
            <div class="views">
                <p>Views: 200</p>
                <img src="views.png" alt="Views" style="width: 30px; height: 30px;">
            </div>
            <h1 class="upperdescription">Descrição</h1>
            <p class="lowerdescription">{{ selectedVideo.descricao }}</p>

            <div class="VideoAvaliation">
            
            <div class="BorderBox">
                <div class="likevideo">
                    <img src="LikeVideo.png" alt="Like" style="width: 30px; height: 30px;">
                    <span>100</span>
                </div>
                <div class="dislikevideo">
                    <img src="DislikeVideo.png" alt="Dislike" style="width: 30px; height: 30px;">
                    <span>100</span>
                </div>
                
            </div>
            <div class="LineBreak2"></div>
            </div>
        </div>

        

        </div>
</body>