<router-outlet></router-outlet>

<body>
    
   <div class="main">
        <div class="mainlogo">
            <img src="youtube.png" alt="icon" style="width: 100px; height: 100px; background-color: rgb(26, 25, 25);">
        </div>
            <label for="searchinput" class="visually-hidden">Search</label>
            <input id="searchinput" placeholder="Pesquisar..." aria-label="Search">
        <div class="userIcon">
            <button (click)="ShowModal()" class="modalbutton"></button>
            <img src="user_header.png" alt="User Icon">
        </div>

    <div class="modal-backdrop" *ngIf="IsOpen">
        <div class="modal"> 
            <img src="user_header.png" alt="User Icon" class="modal-icon">
            <img src="email.png" alt="Email Icon" class="email-modal-icon">
            <img src="logout.png" alt="Logout Icon" class="logout-modal-icon">
            <button (click)="closeModal()" class="close-modal">
                <img src="close.png" alt="Close Icon">
            </button>
            
            <h1>Usuario</h1>
            <h2>Email.gmail.com</h2>
            
            
         </div>
    </div>
        
    <div class="icon-list">
            <div class="homeicon"><img src="home.png" alt="Home"></div>
            <div class="searchicon"><img src="searchicon.png" alt="Search"></div>
            <div class="clockicon"><img src="clock.png" alt="Watch Later"></div>
            <div class="likeicon"><img src="like.png" alt="Liked"></div>
            <div class="playlisticon"><img src="playlist.png" alt="Playlist"></div>
            <div class="optionsicon"><img src="options.png" alt="Options"></div>
        </div>

        </div>

        
        
    
    <div class="container">

        @for (video of videos; track $index) {
            
            <app-video
            [titulo]="video.titulo" 
            [descricao]="video.descricao" 
            [thumbnail]="video.thumbnail"
            [video]="video.video">
            </app-video>
            
        }
        

    </div>
       
    
</body>